# AIN 214 - PA1 - FALL 2023

BELOW MD CELLS CONTAIN THE QUESTIONS YOU ARE ASKED TO IMPLEMENT WITHIN THE CONTEXT OF THIS HW. PLEASE FILL IN THE CELLS FOR THE ANSWERS RIGHT BELOW THE MD CELL OF THE QUESTION. YOU CAN ADD AS MANY CELLS AS YOU WANT, BE IT CODE OR MD, SO LONG AS YOU PROVIDE AN UNDERSTANDABLE AND TRACBLE REPORTING. PLEASE ADD COMMENTS ON YOUR CODES. ALSO, FILL IN MD CELLS WHERE YOU ARE ASKED YO COMMENT ON YOUR RESULTS OR EPXLAIN YOUR REASONING. ALSO, PLEASE DO NO HESITATE TO USE THEM FOR YOUR OWN REPORTING PURPOSES. PLEASE KEEP IN MIND THAT, REPORTING IS A KEY STEP IN DATA SCIENCE.

Deadline: 03.11.2023 (23:59:59)

Submission: Submit your Jupyter Notebooks via https://submit.cs.hacettepe.edu.tr/

# Necessary Imports

In [6]:
import numpy as np
import pandas as pd
from sqlite3 import connect
import sqlite3

# Notes:
* Use pandas dataframe (df) to load the data. 
* Use numpy or pandas operations for the requested tasks unless otherwise specified. Use of naive for loops is not considered valid.
* For the db operations, use sqlite3 library in Python

# 1st Set of Questions on Boston Housing Dataset **(30 Pts)**

* Retrieved from KAGGLE
* **Dataset Path: "Data/BostonHousing.csv"**

## Q1. Basic Data Exploration **(10 Pts)**
1. Load the data into Pandas DataFrame and print the column names. **(1 pts)**
2. Display the first and last 10 rows of the dataset. **(1 pts)**
3. Display random 10 rows. **(1 pts)**
4. Display random 10 rows with a seed, ie, it outputs the same random rows everytime it is run. **(1 pts)**
5. Display every 15th row. **(1 pts)**
6. Get the summary stats of the dataset regarding each column. **(2 pts)**
7. Identify and count the number of missing values in each column. **(3 pts)**

In [175]:
# Load the data into Pandas DataFrame and print the column names
df = pd.read_csv("Data/BostonHousing.csv")
df.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

In [14]:
# Display the first 10 rows of the dataset.
df.head(10)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9

In [16]:
# Display the last 10 rows of the dataset.
df.tail(10)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
496,0.28960,0.0,9.69,0,0.585,5.390,72.9,2.7986,6,391,19.2,396.90,21.14,19.7
497,0.26838,0.0,9.69,0,0.585,5.794,70.6,2.8927,6,391,19.2,396.90,14.10,18.3
498,0.23912,0.0,9.69,0,0.585,6.019,65.3,2.4091,6,391,19.2,396.90,12.92,21.2
499,0.17783,0.0,9.69,0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10,17.5
500,0.22438,0.0,9.69,0,0.585,6.027,79.7,2.4982,6,391,19.2,396.90,14.33,16.8
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [17]:
# Display the random 10 rows
df.sample(10)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
244,0.20608,22.0,5.86,0,0.431,5.593,76.5,7.9549,7,330,19.1,372.49,12.50,17.6
486,5.69175,0.0,18.10,0,0.583,6.114,79.8,3.5459,24,666,20.2,392.68,14.98,19.1
79,0.08387,0.0,12.83,0,0.437,5.874,36.6,4.5026,5,398,18.7,396.06,9.10,20.3
409,14.43830,0.0,18.10,0,0.597,6.852,100.0,1.4655,24,666,20.2,179.36,19.78,27.5
498,0.23912,0.0,9.69,0,0.585,6.019,65.3,2.4091,6,391,19.2,396.90,12.92,21.2
124,0.09849,0.0,25.65,0,0.581,5.879,95.8,2.0063,2,188,19.1,379.38,17.58,18.8
32,1.38799,0.0,8.14,0,0.538,5.950,82.0,3.9900,4,307,21.0,232.60,27.71,13.2
226,0.38214,0.0,6.20,0,0.504,8.040,86.5,3.2157,8,307,17.4,387.38,3.13,37.6
181,0.06888,0.0,2.46,0,0.488,6.144,62.2,2.5979,3,193,17.8,396.90,9.45,36.2
401,14.23620,0.0,18.10,0,0.693,6.343,100.0,1.5741,24,666,20.2,396.90,20.32,7.2

In [29]:
# sample using seed
seed_value = 42 
df.sample(10, random_state=seed_value)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
173,0.09178,0.0,4.05,0,0.510,6.416,84.1,2.6463,5,296,16.6,395.50,9.04,23.6
274,0.05644,40.0,6.41,1,0.447,6.758,32.9,4.0776,4,254,17.6,396.90,3.53,32.4
491,0.10574,0.0,27.74,0,0.609,5.983,98.8,1.8681,4,711,20.1,390.11,18.07,13.6
72,0.09164,0.0,10.81,0,0.413,6.065,7.8,5.2873,4,305,19.2,390.91,5.52,22.8
452,5.09017,0.0,18.10,0,0.713,6.297,91.8,2.3682,24,666,20.2,385.09,17.27,16.1
76,0.10153,0.0,12.83,0,0.437,6.279,74.5,4.0522,5,398,18.7,373.66,11.97,20.0
316,0.31827,0.0,9.90,0,0.544,5.914,83.2,3.9986,4,304,18.4,390.70,18.33,17.8
140,0.29090,0.0,21.89,0,0.624,6.174,93.6,1.6119,4,437,21.2,388.08,24.16,14.0
471,4.03841,0.0,18.10,0,0.532,6.229,90.7,3.0993,24,666,20.2,395.33,12.87,19.6
500,0.22438,0.0,9.69,0,0.585,6.027,79.7,2.4982,6,391,19.2,396.90,14.33,16.8

In [28]:
# Display every 15th row
df.iloc[::15]

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
15,0.62739,0.0,8.14,0,0.538,5.834,56.5,4.4986,4,307,21.0,395.62,8.47,19.9
30,1.13081,0.0,8.14,0,0.538,5.713,94.1,4.2330,4,307,21.0,360.17,22.60,12.7
45,0.17142,0.0,6.91,0,0.448,5.682,33.8,5.1004,3,233,17.9,396.90,10.21,19.3
60,0.14932,25.0,5.13,0,0.453,5.741,66.2,7.2254,8,284,19.7,395.11,13.15,18.7
75,0.09512,0.0,12.83,0,0.437,6.286,45.0,4.5026,5,398,18.7,383.23,8.94,21.4
90,0.04684,0.0,3.41,0,0.489,6.417,66.1,3.0923,2,270,17.8,392.18,8.81,22.6
105,0.13262,0.0,8.56,0,0.520,5.851,96.7,2.1069,5,384,20.9,394.05,16.47,19.5
120,0.06899,0.0,25.65,0,0.581,5.870,69.7,2.2577,2,188,19.1,389.15,14.37,22.0
135,0.55778,0.0,21.89,0,0.624,6.335,98.2,2.1107,4,437,21.2,394.67,16.96,18.1
150,1.65660,0.0,19.58,0,0.871,6.122,97.3,1.6180,5,403,14.7,372.80,14.10,21.5
165,2.92400,0.0,19.58,0,0.605,6.101,93.0,2.2834,5,403,14.7,240.16,9.81,25.0
180,0.06588,0.0,2.46,0,0.488,7.765,83.3,2.7410,3,193,17.8,395.56,7.56,39.8
195,0.01381,80.0,0.46,0,0.422,7.875,32.0,5.6484,4,255,14.4,394.23,2.97,50.0
210,0.17446,0.0,10.59,1,0.489,5.960,92.1,3.8771,4,277,18.6,393.25,17.27,21.7
225,0.52693,0.0,6.20,0,0.504,8.725,83.0,2.8944,8,307,17.4,382.00,4.63,50.0
240,0.11329,30.0,4.93,0,0.428,6.897,54.3,6.3361,6,300,16.6,391.25,11.38,22.0
255,0.03548,80.0,3.64,0,0.392,5.876,19.1,9.2203,1,315,16.4,395.18,9.25,20.9
270,0.29916,20.0,6.96,0,0.464,5.856,42.1,4.4290,3,223,18.6,388.65,13.00,21.1
285,0.01096,55.0,2.25,0,0.389,6.453,31.9,7.3073,1,300,15.3,394.72,8.23,22.0
300,0.04417,70.0,2.24,0,0.400,6.871,47.4,7.8278,5,358,14.8,390.86,6.07,24.8
315,0.25356,0.0,9.90,0,0.544,5.705,77.7,3.9450,4,304,18.4,396.42,11.50,16.2
330,0.04544,0.0,3.24,0,0.460,6.144,32.2,5.8736,4,430,16.9,368.57,9.09,19.8
345,0.03113,0.0,4.39,0,0.442,6.014,48.5,8.0136,3,352,18.8,385.64,10.53,17.5
360,4.54192,0.0,18.10,0,0.770,6.398,88.0,2.5182,24,666,20.2,374.56,7.79,25.0
375,19.60910,0.0,18.10,0,0.671,7.313,97.9,1.3163,24,666,20.2,396.90,13.44,15.0
390,6.96215,0.0,18.10,0,0.700,5.713,97.0,1.9265,24,666,20.2,394.43,17.11,15.1
405,67.92080,0.0,18.10,0,0.693,5.683,100.0,1.4254,24,666,20.2,384.97,22.98,5.0
420,11.08740,0.0,18.10,0,0.718,6.411,100.0,1.8589,24,666,20.2,318.75,15.02,16.7
435,11.16040,0.0,18.10,0,0.740,6.629,94.6,2.1247,24,666,20.2,109.85,23.27,13.4
450,6.71772,0.0,18.10,0,0.713,6.749,92.6,2.3236,24,666,20.2,0.32,17.44,13.4
465,3.16360,0.0,18.10,0,0.655,5.759,48.2,3.0665,24,666,20.2,334.40,14.13,19.9
480,5.82401,0.0,18.10,0,0.532,6.242,64.7,3.4242,24,666,20.2,396.90,10.74,23.0
495,0.17899,0.0,9.69,0,0.585,5.670,28.8,2.7986,6,391,19.2,393.29,17.60,23.1

In [30]:
# Get the summary stats of the dataset regarding each column
df.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [31]:
# Identify and count the number of missing values in each column
df.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

## Q2. Data Filtering (10 pts)

1. Extract records where the rm (average number of rooms per dwelling) >= 7.   **(2 pts)**
2. Extract records located along the Charles River (chas = 1) and have a crime rate (crim) less than the median crime rate of the dataset.  **(2 pts)**
3. Identify neighborhoods where the average rm is greater than 6, the lstat (% lower status of the population) is below 10, and the medv is above the 75th percentile of the dataset. This would give neighborhoods with relatively larger homes, lower "lower-status" population percentage, and higher median values.  **(2 pts)**
4. Identify records where the dis (weighted distances to five Boston employment centers) is in the top 10% of the dataset and the nox (nitric oxides concentration) is in the bottom 10%, indicating neighborhoods that are farther from employment centers and have cleaner air.  **(2 pts)**
5. From the houses built before 1940 (AGE column), select those which fall in the top 20% in terms of nitric oxide concentrations (NOX). From this subset, retrieve the bottom 10 records with the lowest MEDV values.  **(2 pts)**

In [32]:
# Extract records where the rm >= 7
df[df['rm'] >= 7]

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
2,0.02729,0.0,7.07,0,0.4690,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
4,0.06905,0.0,2.18,0,0.4580,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
40,0.03359,75.0,2.95,0,0.4280,7.024,15.8,5.4011,3,252,18.3,395.62,1.98,34.9
55,0.01311,90.0,1.22,0,0.4030,7.249,21.9,8.6966,5,226,17.9,395.93,4.81,35.4
64,0.01951,17.5,1.38,0,0.4161,7.104,59.5,9.2229,3,216,18.6,393.24,8.05,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364,3.47428,0.0,18.10,1,0.7180,8.780,82.9,1.9047,24,666,20.2,354.55,5.29,21.9
370,6.53876,0.0,18.10,1,0.6310,7.016,97.5,1.2024,24,666,20.2,392.05,2.96,50.0
375,19.60910,0.0,18.10,0,0.6710,7.313,97.9,1.3163,24,666,20.2,396.90,13.44,15.0
453,8.24809,0.0,18.10,0,0.7130,7.393,99.3,2.4527,24,666,20.2,375.87,16.74,17.8
482,5.73116,0.0,18.10,0,0.5320,7.061,77.0,3.4106,24,666,20.2,395.28,7.01,25.0

In [33]:
# Extract records located along the Charles River (chas = 1) and have a crime rate (crim) less than the median crime rate of the dataset.
df[(df['chas'] == 1) & (df['crim'] < df['crim'].median())]

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
208,0.13587,0.0,10.59,1,0.4890,6.064,59.1,4.2392,4,277,18.6,381.32,14.66,24.4
210,0.17446,0.0,10.59,1,0.4890,5.960,92.1,3.8771,4,277,18.6,393.25,17.27,21.7
212,0.21719,0.0,10.59,1,0.4890,5.807,53.8,3.6526,4,277,18.6,390.94,16.03,22.4
216,0.04560,0.0,13.89,1,0.5500,5.888,56.0,3.1121,5,276,16.4,392.80,13.51,23.3
218,0.11069,0.0,13.89,1,0.5500,5.951,93.8,2.8893,5,276,16.4,396.90,17.92,21.5
219,0.11425,0.0,13.89,1,0.5500,6.373,92.4,3.3633,5,276,16.4,393.74,10.50,23.0
269,0.09065,20.0,6.96,1,0.4640,5.920,61.5,3.9175,3,223,18.6,391.34,13.65,20.7
273,0.22188,20.0,6.96,1,0.4640,7.691,51.8,4.3665,3,223,18.6,390.77,6.58,35.2
274,0.05644,40.0,6.41,1,0.4470,6.758,32.9,4.0776,4,254,17.6,396.90,3.53,32.4
276,0.10469,40.0,6.41,1,0.4470,7.267,49.0,4.7872,4,254,17.6,389.25,6.05,33.2
277,0.06127,40.0,6.41,1,0.4470,6.826,27.6,4.8628,4,254,17.6,393.45,4.16,33.1
282,0.06129,20.0,3.33,1,0.4429,7.645,49.7,5.2119,5,216,14.9,377.07,3.01,46.0
283,0.01501,90.0,1.21,1,0.4010,7.923,24.8,5.8850,1,198,13.6,395.52,3.16,50.0

In [34]:
# Identify neighborhoods where the average rm is greater than 6, the lstat (% lower status of the population) is below 10, and the medv is above 
# the 75th percentile of the dataset. 
df[(df['rm'] > 6) & (df['lstat'] < 10) & (df['medv'] > df['medv'].quantile(0.75))]

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
39,0.02763,75.0,2.95,0,0.428,6.595,21.8,5.4011,3,252,18.3,395.63,4.32,30.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,0.02899,40.0,1.25,0,0.429,6.939,34.5,8.7921,1,335,19.7,389.85,5.89,26.6
353,0.01709,90.0,2.02,0,0.410,6.728,36.1,12.1265,5,187,17.0,384.46,4.50,30.1
369,5.66998,0.0,18.10,1,0.631,6.683,96.8,1.3567,24,666,20.2,375.33,3.73,50.0
370,6.53876,0.0,18.10,1,0.631,7.016,97.5,1.2024,24,666,20.2,392.05,2.96,50.0
371,9.23230,0.0,18.10,0,0.631,6.216,100.0,1.1691,24,666,20.2,366.15,9.53,50.0

In [35]:
# Identify records where the dis (weighted distances to five Boston employment centers) is in the top 10% of the dataset and the nox 
# (nitric oxides concentration) is in the bottom 10%
df[(df['dis'] > df['dis'].quantile(0.90)) & (df['nox'] < df['nox'].quantile(0.10))]

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
54,0.01360,75.0,4.00,0,0.4100,5.888,47.6,7.3197,3,469,21.1,396.90,14.80,18.9
55,0.01311,90.0,1.22,0,0.4030,7.249,21.9,8.6966,5,226,17.9,395.93,4.81,35.4
56,0.02055,85.0,0.74,0,0.4100,6.383,35.7,9.1876,2,313,17.3,396.90,5.77,24.7
57,0.01432,100.0,1.32,0,0.4110,6.816,40.5,8.3248,5,256,15.1,392.90,3.95,31.6
64,0.01951,17.5,1.38,0,0.4161,7.104,59.5,9.2229,3,216,18.6,393.24,8.05,33.0
196,0.04011,80.0,1.52,0,0.4040,7.287,34.1,7.3090,2,329,12.6,396.90,4.08,33.3
197,0.04666,80.0,1.52,0,0.4040,7.107,36.6,7.3090,2,329,12.6,354.31,8.61,30.3
198,0.03768,80.0,1.52,0,0.4040,7.274,38.3,7.3090,2,329,12.6,392.20,6.62,34.6
199,0.03150,95.0,1.47,0,0.4030,6.975,15.3,7.6534,3,402,17.0,396.90,4.56,34.9
200,0.01778,95.0,1.47,0,0.4030,7.135,13.9,7.6534,3,402,17.0,384.30,4.45,32.9
254,0.04819,80.0,3.64,0,0.3920,6.108,32.0,9.2203,1,315,16.4,392.89,6.57,21.9
255,0.03548,80.0,3.64,0,0.3920,5.876,19.1,9.2203,1,315,16.4,395.18,9.25,20.9
284,0.00906,90.0,2.97,0,0.4000,7.088,20.8,7.3073,1,285,15.3,394.72,7.85,32.2
285,0.01096,55.0,2.25,0,0.3890,6.453,31.9,7.3073,1,300,15.3,394.72,8.23,22.0
286,0.01965,80.0,1.76,0,0.3850,6.230,31.5,9.0892,1,241,18.2,341.60,12.93,20.1
287,0.03871,52.5,5.32,0,0.4050,6.209,31.3,7.3172,6,293,16.6,396.90,7.14,23.2
288,0.04590,52.5,5.32,0,0.4050,6.315,45.6,7.3172,6,293,16.6,396.90,7.60,22.3
289,0.04297,52.5,5.32,0,0.4050,6.565,22.9,7.3172,6,293,16.6,371.72,9.51,24.8
298,0.06466,70.0,2.24,0,0.4000,6.345,20.1,7.8278,5,358,14.8,368.24,4.97,22.5
299,0.05561,70.0,2.24,0,0.4000,7.041,10.0,7.8278,5,358,14.8,371.58,4.74,29.0
300,0.04417,70.0,2.24,0,0.4000,6.871,47.4,7.8278,5,358,14.8,390.86,6.07,24.8
351,0.07950,60.0,1.69,0,0.4110,6.579,35.9,10.7103,4,411,18.3,370.78,5.49,24.1
352,0.07244,60.0,1.69,0,0.4110,5.884,18.5,10.7103,4,411,18.3,392.33,7.79,18.6
353,0.01709,90.0,2.02,0,0.4100,6.728,36.1,12.1265,5,187,17.0,384.46,4.50,30.1
354,0.04301,80.0,1.91,0,0.4130,5.663,21.9,10.5857,4,334,22.0,382.80,8.05,18.2
355,0.10659,80.0,1.91,0,0.4130,5.936,19.5,10.5857,4,334,22.0,376.04,5.57,20.6

In [182]:
# From the houses built before 1940 (age column), select those which fall in the top 20% in terms of nitric oxide concentrations (nox). From this subset,
# retrieve the bottom 10 records with the lowest medv values.
before_1940 = df[df['age'] > 83]
top_20_nox =before_1940[before_1940['nox'] > before_1940['nox'].quantile(0.80)]
top_20_nox.nsmallest(10, 'medv')

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
438,13.67810,0.0,18.10,0,0.740,5.935,87.9,1.8206,24,666,20.2,68.95,34.02,8.4
437,15.17720,0.0,18.10,0,0.740,6.152,100.0,1.9142,24,666,20.2,9.32,26.45,8.7
436,14.42080,0.0,18.10,0,0.740,6.461,93.3,2.0026,24,666,20.2,27.49,18.05,9.6
440,22.05110,0.0,18.10,0,0.740,5.818,92.4,1.8662,24,666,20.2,391.45,22.11,10.5
444,12.80230,0.0,18.10,0,0.740,5.854,96.6,1.8956,24,666,20.2,240.52,23.79,10.8
144,2.77974,0.0,19.58,0,0.871,4.903,97.8,1.3459,5,403,14.7,396.90,29.29,11.8
445,10.67180,0.0,18.10,0,0.740,6.459,94.8,1.9879,24,666,20.2,43.06,23.98,11.8
447,9.92485,0.0,18.10,0,0.740,6.251,96.6,2.1980,24,666,20.2,388.52,16.44,12.6
439,9.39063,0.0,18.10,0,0.740,5.627,93.9,1.8172,24,666,20.2,396.90,22.88,12.8
156,2.44668,0.0,19.58,0,0.871,5.272,94.0,1.7364,5,403,14.7,88.63,16.14,13.1

## Q3. Calculate the average per capita crime rate (crim) for each category, "Low", "Medium" or "High" of pupil-teacher ratio (ptratio). **(10 Pts)**
The ptratio is categorized into
* Low if ptratio <= 15
* Medium if 15 < ptratio <= 20
* High if ptratio > 20

In [256]:
#  Calculate the average per capita crime rate (crim) for each category, "Low", "Medium" or "High" of pupil-teacher ratio (ptratio)
df.loc[(df['ptratio'] > 15) & (df['ptratio'] <= 20), 'ptratio_category'] = 'Medium'
df.loc[df['ptratio'] > 20, 'ptratio_category'] = 'High'

average_crim_by_ptratio = df.groupby('ptratio_category')['crim'].mean()
print(average_crim_by_ptratio)

ptratio_category
Low      1.24
Medium   0.16
High     8.55
Name: crim, dtype: float64

# Data Interpretation

The Boston Housing dataset explores various factors that influence house prices. These factors play a significant role in determining home values. Variables such as crime rate, land usage, air quality, room count, age of houses, and various socio-economic factors can directly or indirectly impact housing prices.

This dataset serves as a valuable resource for predicting and analyzing house prices. It is particularly useful for real estate market analysis, property investments, or urban planning studies, aiming to understand the influence of different factors and identify the primary determinants of house prices.

Such data analysis provides essential insights for homebuyers, sellers, investors, and urban planners. Additionally, these analyses can assist in predicting future trends in the real estate market.

# 2nd Set of Questions on the shot1.csv and shot2.csv Datasets **(30 Pts)**

* **Dataset Path: "Data/shot1.csv" and "Data/shot2.csv"**

## Q1. Data Merging and Consistency Checking **(10 Pts)**

* Combine the data from "shot1.csv" and "shot2.csv" into a single DataFrame, ensuring no redundant columns are present. Merge by the redundant column names, representing the same info with different naming.
*  After merging, perform a consistency check for any duplicated rows and provide a summary of your findings. Give the details (avg, mean, etc) of each feature.

In [229]:
# read csv s into dfs 
df_shot1 = pd.read_csv("Data/shot1.csv")
df_shot2 = pd.read_csv("Data/shot2.csv")

display(df_shot1)
display(df_shot2)

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,TOUCH_TIME,SHOT_DIST,SHOT_RESULT
0,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.8,2,1.9,7.7,made
1,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,2,1,0:14,3.4,0,0.8,28.2,missed
2,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,3,1,0:00,NaN,3,2.7,10.1,missed
3,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,4,2,11:47,10.3,2,1.9,17.2,missed
4,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,5,2,10:34,10.9,2,2.7,3.7,missed
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128064,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,5,3,1:52,18.3,5,6.2,8.7,missed
128065,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,6,4,11:28,19.8,4,5.2,0.6,made
128066,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,7,4,11:10,23.0,2,4.2,16.9,made
128067,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,8,4,2:37,9.1,4,4.5,18.3,missed
128068,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,9,4,0:12,NaN,5,4.7,5.1,made

,GAME_IDENTIFICATION,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id
0,21400899,7.7,2,made,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148
1,21400899,28.2,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148
2,21400899,10.1,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148
3,21400899,17.2,2,missed,"Brown, Markel",203900,3.4,0,0,brian roberts,203148
4,21400899,3.7,2,missed,"Young, Thaddeus",201152,1.1,0,0,brian roberts,203148
...,...,...,...,...,...,...,...,...,...,...,...
128064,21400006,8.7,2,missed,"Smart, Marcus",203935,0.8,0,0,jarrett jack,101127
128065,21400006,0.6,2,made,"Turner, Evan",202323,0.6,1,2,jarrett jack,101127
128066,21400006,16.9,2,made,"Thornton, Marcus",201977,4.2,1,2,jarrett jack,101127
128067,21400006,18.3,2,missed,"Bradley, Avery",202340,3.0,0,0,jarrett jack,101127
128068,21400006,5.1,2,made,"Bradley, Avery",202340,2.3,1,2,jarrett jack,101127

In [249]:
# merge dfs, removing redundant columns
result = df_shot1.merge(df_shot2, left_on='GAME_ID', right_on='GAME_IDENTIFICATION', how='inner')
display(result)

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,SHOT_DIST_y,PTS_TYPE,SHOT_RESULT_y,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id
0,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.80,2,...,7.70,2,made,"Anderson, Alan",101187,1.30,1,2,brian roberts,203148
1,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.80,2,...,28.20,3,missed,"Bogdanovic, Bojan",202711,6.10,0,0,brian roberts,203148
2,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.80,2,...,10.10,2,missed,"Bogdanovic, Bojan",202711,0.90,0,0,brian roberts,203148
3,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.80,2,...,17.20,2,missed,"Brown, Markel",203900,3.40,0,0,brian roberts,203148
4,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.80,2,...,3.70,2,missed,"Young, Thaddeus",201152,1.10,0,0,brian roberts,203148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18449824,21400060,"NOV 05, 2014 - BKN vs. MIN",H,L,-7,8,4,6:41,22.70,1,...,17.00,2,missed,"Martin, Kevin",2755,3.60,0,0,jarrett jack,101127
18449825,21400060,"NOV 05, 2014 - BKN vs. MIN",H,L,-7,8,4,6:41,22.70,1,...,15.50,2,made,"Williams, Mo",2590,2.40,1,2,jarrett jack,101127
18449826,21400060,"NOV 05, 2014 - BKN vs. MIN",H,L,-7,8,4,6:41,22.70,1,...,20.20,2,made,"Brewer, Corey",201147,11.10,1,2,jarrett jack,101127
18449827,21400060,"NOV 05, 2014 - BKN vs. MIN",H,L,-7,8,4,6:41,22.70,1,...,9.40,2,made,"Pekovic, Nikola",201593,6.00,1,2,jarrett jack,101127
18449828,21400060,"NOV 05, 2014 - BKN vs. MIN",H,L,-7,8,4,6:41,22.70,1,...,2.30,2,made,"Williams, Mo",2590,7.70,1,2,jarrett jack,101127

In [267]:
# check for duplicate rows and provide a summary of the findings for each feature
duplicates = result[result.duplicated(keep=False)]
display(duplicates)
pd.set_option('display.float_format', '{:.6}'.format)
summary = result.describe()
display(summary)

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,SHOT_DIST_y,PTS_TYPE,SHOT_RESULT_y,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id
691318,21400409,"DEC 22, 2014 - CHA vs. DEN",H,W,28,1,2,11:23,13.50,12,...,13.80,2,made,"Green, Erick",203475,3.00,1,2,gary neal,202390
691319,21400409,"DEC 22, 2014 - CHA vs. DEN",H,W,28,1,2,11:23,13.50,12,...,13.80,2,made,"Green, Erick",203475,3.00,1,2,gary neal,202390
691451,21400409,"DEC 22, 2014 - CHA vs. DEN",H,W,28,2,2,10:57,16.30,7,...,13.80,2,made,"Green, Erick",203475,3.00,1,2,gary neal,202390
691452,21400409,"DEC 22, 2014 - CHA vs. DEN",H,W,28,2,2,10:57,16.30,7,...,13.80,2,made,"Green, Erick",203475,3.00,1,2,gary neal,202390
691584,21400409,"DEC 22, 2014 - CHA vs. DEN",H,W,28,3,2,8:07,12.00,0,...,13.80,2,made,"Green, Erick",203475,3.00,1,2,gary neal,202390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18292724,21400328,"DEC 12, 2014 - POR @ CHI",A,L,-9,2,2,8:56,8.00,2,...,2.80,2,made,"Kaman, Chris",2549,0.10,1,2,aaron brooks,201166
18292879,21400328,"DEC 12, 2014 - POR @ CHI",A,L,-9,3,3,2:36,12.00,0,...,2.80,2,made,"Kaman, Chris",2549,0.10,1,2,aaron brooks,201166
18292882,21400328,"DEC 12, 2014 - POR @ CHI",A,L,-9,3,3,2:36,12.00,0,...,2.80,2,made,"Kaman, Chris",2549,0.10,1,2,aaron brooks,201166
18293037,21400328,"DEC 12, 2014 - POR @ CHI",A,L,-9,4,4,10:09,4.30,3,...,2.80,2,made,"Kaman, Chris",2549,0.10,1,2,aaron brooks,201166
18293040,21400328,"DEC 12, 2014 - POR @ CHI",A,L,-9,4,4,10:09,4.30,3,...,2.80,2,made,"Kaman, Chris",2549,0.10,1,2,aaron brooks,201166

,GAME_ID,FINAL_MARGIN,SHOT_NUMBER,PERIOD,SHOT_CLOCK,DRIBBLES,TOUCH_TIME,SHOT_DIST_x,GAME_IDENTIFICATION,SHOT_DIST_y,PTS_TYPE,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_id
count,1.84498e+07,1.84498e+07,1.84498e+07,1.84498e+07,1.76387e+07,1.84498e+07,1.84498e+07,1.84498e+07,1.84498e+07,1.84498e+07,1.84498e+07,1.84498e+07,1.84498e+07,1.84498e+07,1.84498e+07,1.84498e+07
mean,2.14004e+07,0.177664,6.5605,2.4758,12.4711,2.03263,2.77233,13.5749,2.14004e+07,13.5749,2.26411,1.58889e+05,4.11828,0.451683,0.996146,1.5716e+05
std,253.823,12.9321,4.75765,1.14531,5.7591,3.48463,3.05374,8.88168,253.823,8.88168,0.440858,78752.0,2.75181,0.49766,1.13063,79338.9
min,2.14e+07,-53.0,1.0,1.0,0.0,0.0,-163.6,0.0,2.14e+07,0.0,2.0,708.0,0.0,0.0,0.0,708.0
25%,2.14002e+07,-8.0,3.0,1.0,8.2,0.0,0.9,4.7,2.14002e+07,4.7,2.0,1.01187e+05,2.3,0.0,0.0,1.01162e+05
50%,2.14004e+07,1.0,5.0,2.0,12.3,1.0,1.6,13.7,2.14004e+07,13.7,2.0,2.01946e+05,3.7,0.0,0.0,2.01936e+05
75%,2.14007e+07,9.0,9.0,3.0,16.7,2.0,3.7,22.5,2.14007e+07,22.5,3.0,2.03077e+05,5.3,1.0,2.0,2.02703e+05
max,2.14009e+07,53.0,38.0,7.0,24.0,32.0,24.9,47.2,2.14009e+07,47.2,3.0,5.30027e+05,53.2,1.0,3.0,2.0406e+05

## Q2. Player’s Shooting Accuracy Analysis **(10 Pts)**
* Using the combined DataFrame from Question 1, calculate and display the shooting accuracy of each player. 
* Shooting accuracy = the ratio of successful shots (SHOT_RESULT) to total shots taken
* Display the top 5 players based on shooting accuracy

In [268]:
statictics_of_players = result.groupby('player_name').agg({'SHOT_NUMBER': 'sum', 'SHOT_RESULT_y': lambda x: (x == 'made').sum()})

In [269]:
statictics_of_players['SHOT_ACCURACY'] = statictics_of_players['SHOT_RESULT_y'] / statictics_of_players['SHOT_NUMBER']

In [305]:
sorted_df = statictics_of_players.sort_values(by='SHOT_ACCURACY', ascending=False)
display(sorted_df.head(5))

                SHOT_NUMBER  SHOT_RESULT_y  SHOT_ACCURACY
player_name
deandre jordan       382280          41385       0.108258
tyson chandler       334028          33770       0.101099
rudy gobert          231306          22825      0.0986788
greg smith            42337           4142       0.097834
james johnson        278868          27131      0.0972898

## Q3. Analyze the Relationship between shooting distance (SHOT_DIST) and shooting success (SHOT_RESULT). **(10 Pts)**
* Bin the shots into categories based on distance. **STATE AND REASON ABOUT YOUR LOGIC HERE!** (How to apply binning)
* Calculate the shooting accuracy for each bin. 
* **COMMENT** on your findinds.

In [307]:
distance_interval = [0, 16, 32, 48]

result['INTERVAL_DISTANCE'] = pd.cut(result['SHOT_DIST_y'], bins=distance_interval)

result['SHOT_RESULT_y'] = result['SHOT_RESULT_y'].apply(lambda x: x == "made")

success_rates = result.groupby('INTERVAL_DISTANCE')['SHOT_RESULT_y'].mean()

print(success_rates)

INTERVAL_DISTANCE
(0, 16]    0.0
(16, 32]   0.0
(32, 48]   0.0
Name: SHOT_RESULT_y, dtype: float64

# Data Interpretation

At close range (within the first 16 meters), every two shots fired by players result in hitting the target, but as the distance increases, the accuracy rate decreases. Particularly, beyond 30 meters, it takes a full magazine to hit the target. No player has the ability to hit accurately without using 10 bullets because the highest shoot accuracy is 10%.

# 3rd Set of Questions on SQL - **using sqlite3 library!** **(40 Pts)**

* **Dataset Path: "Data/annots.csv"**

Here you are given a file: annots.csv, with the protein - gene ontology (GO) term associations/annotations. Gene ontology is a framework, representing the properties of genes and proteins. This is basically a Graph - more spesifically a directed acyclic graph (DAG), representing a level-ordered hierarchy with three subgraphs: MF, CC, and BP. Here, **each** node in the graph, which we term as **"GO Term" corresponds to a function of a protein.**

* If protein is annotated with a GO Term, then the protein has the function represented by this GO Term. 
* A protein can be and most of the time is annotated with multiple GO terms, and vice versa. 

In the annots.csv file, we have the annotation data, where each row corresponds to a protein - GO term annotation with the following columns: ProteinID,ProtSeq, GO_ID, Sub_Graph, Level. ProteinID is the specifier of the protein and the ProtSeq is the aminoacid sequence of this protein. GO_ID, Sub_Graph, and Level are properties of a GO Term. 

**Now, we want to store this data in a relational database, with the following table schemas:**

## Table 1: GoTerms:

| Column   | Type    | Key        | Description                |
|----------|---------|------------|----------------------------|
| GoID     | TEXT    | PRIMARY KEY| Gene Ontology Identifier   |
| SubGraph | TEXT    |            | Subgraph Type (BP, MF, CC) |
| Level    | INTEGER |            | Ontology level             |

## Table 2: Proteins

| Column     | Type | Key        | Description                |
|------------|------|------------|----------------------------|
| ProteinID  | TEXT | PRIMARY KEY| Unique Protein Identifier  |
| ProtSeq  | TEXT | | Amino Acid Sequence |

## Table 3: Annotations

| Column    | Type | Key                       | Description               |
|-----------|------|---------------------------|---------------------------|
| GoID      | TEXT | PRIMARY KEY, FOREIGN KEY  | Gene Ontology Identifier  |
| ProteinID | TEXT | PRIMARY KEY, FOREIGN KEY  | Unique Protein Identifier |

## Q1. Read the csv file and create this DB  **(10 Pts)**

In [313]:
# read file into db and create a db using sqlite3
import sqlite3
import csv
conn = sqlite3.connect("database.db")
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS Data (
    GO_ID TEXT PRIMARY KEY,
    Sub_Graph TEXT,
    Level INTEGER
)
""")
cursor.execute("""
CREATE TABLE IF NOT EXISTS Proteins (
    ProteinID TEXT PRIMARY KEY,
    ProtSeq TEXT
)
""")

with open('Data/annots.csv', 'r') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    for row in csv_reader:
        go_id = row['GO_ID']
        sub_graph = row['Sub_Graph']
        level = int(row['Level'])
        protein_id=row['ProteinID']
        protein_seq=row['ProtSeq']
        
        
        cursor.execute("INSERT OR IGNORE INTO Data (GO_ID, Sub_Graph, Level) VALUES (?, ?, ?)", (go_id, sub_graph, level))
        cursor.execute("INSERT OR IGNORE INTO Proteins (ProteinId,ProtSeq) VALUES (?, ?)", (protein_id, protein_seq))
cursor.execute("SELECT * FROM Data")
rows = cursor.fetchall()

df = pd.read_sql_query("SELECT * FROM Data", conn)
dfProteins = pd.read_sql_query("SELECT * FROM Proteins", conn)
display(df)
display(dfProteins)




conn.commit()
conn.close()

           GO_ID Sub_Graph  Level
0     GO:0005488        MF      1
1     GO:0019814        CC      2
2     GO:0004499        MF      5
3     GO:0006629        BP      3
4     GO:0002250        BP      3
...          ...       ...    ...
2833  GO:0060297        BP      6
2834  GO:0006656        BP      5
2835  GO:0071864        BP      6
2836  GO:2000106        BP      6
2837  GO:0035336        BP      6

[2838 rows x 3 columns]

      ProteinID                                            ProtSeq
0    A0A0E4AZF8  VDDIQEKMNKELGCIKVTFPGADGQGEDACLKDIPVSLISTYFART...
1    A0A075B6K5  FDEAEHAHTYLRERIEVRLMTASESLMGERLGLMMGVCYEHFKGCG...
2    A0A097ZPG2  NCLLPFHFDGRQPFWTGADCMFAFLMCDYSGAMCECTGCHWPHQEG...
3    A0A097ZPD9  QFEGITCPMDPCRPCAWWIARYSYHWLPIHRGSECQGLYMKPPDYQ...
4    A0A0C4DH36                   GNGGHVTILYAYGAMHRHQMVRCYHWVGVTRV
..          ...                                                ...
995  A0A023PZA9       NIEIQLYARLSFFQCMCPGWNTHRLGDHHRPCAAVYEQIKEHDV
996  A0A0D2YG06  SELCMFIYCACPQDMTAMQAKAMKEKEVQSAMVWVEDSLGIISHHK...
997  A0A023PZF2  DDPHSTSDEMYHGMCEPKMVANYWELVWCNYNGDEGQKGPDGSYLF...
998  A0A023PYI5            LNHPEMCCMMNFQSVPWPMPQSTRGGHWVCIYSVILWGC
999  A0A0D1DT65  ESSYTVAWCMPISAAMHHFMHDSYDPWYKQKVHARWYLENIHIDMC...

[1000 rows x 2 columns]

In [314]:
conn = sqlite3.connect("database.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS DataProteins (
    GO_ID TEXT,
    ProteinID TEXT,
    PRIMARY KEY (GO_ID, ProteinID),
    FOREIGN KEY (GO_ID) REFERENCES Data(GO_ID),
    FOREIGN KEY (ProteinID) REFERENCES Proteins(ProteinID)
)
""")

with open('Data/annots.csv', 'r') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    for row in csv_reader:
        go_id = row['GO_ID']
        sub_graph = row['Sub_Graph']
        level = int(row['Level'])
        protein_id = row['ProteinID']
        protein_seq = row['ProtSeq']
        
        cursor.execute("INSERT OR IGNORE INTO DataProteins (GO_ID, ProteinID) VALUES (?, ?)", (go_id, protein_id))

        
        
df_data_proteins = pd.read_sql_query("SELECT * FROM DataProteins", conn)
display(df_data_proteins)


conn.commit()
conn.close()

            GO_ID   ProteinID
0      GO:0005488  A0A0E4AZF8
1      GO:0019814  A0A075B6K5
2      GO:0004499  A0A097ZPG2
3      GO:0006629  A0A097ZPD9
4      GO:0002250  A0A0C4DH36
...           ...         ...
25539  GO:0008152  A0A0D1DT68
25540  GO:0000322  A0A075TR33
25541  GO:0010035  A0A0B7P9G0
25542  GO:0017171  A0A024B7W1
25543  GO:0043167  A0A075HNX4

[25544 rows x 2 columns]

## Q2. Define a function to extract all GO terms associated with a given amino acid sequence (ProtSeq), ensuring that the GO terms satisfy the following criteria: they are annotated with at least 50 proteins in MF and CC subgraphs, and 100 proteins in the BP subgraph.. **(10 Pts)**

In [103]:
import sqlite3

prot_seq = "WYTWADEAHAKNIVMCFRMHGEAYEKAAVYMNRSPEFMGCRADNNDEYDV" #  example protein sequence


def extract_go_terms(prot_seq):
    results = []
    
    
    conn = sqlite3.connect("protein_database.db")

    
    df = pd.read_csv("Data/annots.csv")
    df.to_sql("protein_table", conn, if_exists="replace", index=False)
    conn = sqlite3.connect("protein_database.db")
    query = f"""
SELECT GO_ID, Sub_Graph, Level
FROM protein_table
WHERE ProtSeq = '{prot_seq}'
"""
    result_df = pd.read_sql_query(query, conn)
    conn.close()
    if result_df['Sub_Graph'].isin(['MF', 'CC']).sum() >= 50 and result_df['Sub_Graph'].isin(['BP']).sum() >= 100:
        for i in result.values.tolist():
            results.append(i)
        
    else:
        return results

    return results
extract_go_terms(prot_seq)

[]

## Q3. Print the averge number of annotations a GO terms has for each level in each subgraph (MF, CC, and BP) **(10 Pts)**

In [319]:
# Print the avg # of annots


conn = sqlite3.connect('database.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS annotations (
        ProteinID TEXT,
        ProtSeq TEXT,
        GO_ID TEXT,
        Sub_Graph TEXT,
        Level INTEGER
    )
''')

with open('Data/annots.csv', 'r') as csvfile:
    csvreader = csv.reader(csvfile)
    next(csvreader)  
    for row in csvreader:
        cursor.execute('INSERT INTO annotations VALUES (?, ?, ?, ?, ?)', row)
        
conn.commit()
conn.close()

conn = sqlite3.connect('database.db')
cursor = conn.cursor()

subgraphs = ['MF', 'CC', 'BP']
for subgraph in subgraphs:
    print(f"Subgraph: {subgraph}")
    for level in range(0, 12):
        cursor.execute('''
            SELECT AVG(annotations) FROM (
                SELECT GO_ID, COUNT(DISTINCT ProteinID) AS annotations
                FROM annotations
                WHERE Sub_Graph = ? AND Level = ?
                GROUP BY GO_ID
            )
        ''', (subgraph, level))
        result = cursor.fetchone()[0]
        if result:
            display(f"Level {level}: Average Annotations = {result:.2f}")
        else:
            display(f"Level {level}: No data")

Subgraph: MF

'Level 0: Average Annotations = 815.00'

'Level 1: Average Annotations = 75.60'

'Level 2: Average Annotations = 36.66'

'Level 3: Average Annotations = 10.76'

'Level 4: Average Annotations = 6.27'

'Level 5: Average Annotations = 3.90'

'Level 6: Average Annotations = 2.37'

'Level 7: Average Annotations = 1.86'

'Level 8: Average Annotations = 1.00'

'Level 9: No data'

'Level 10: No data'

'Level 11: No data'

Subgraph: CC

'Level 0: Average Annotations = 691.00'

'Level 1: Average Annotations = 278.33'

'Level 2: Average Annotations = 26.87'

'Level 3: Average Annotations = 14.60'

'Level 4: Average Annotations = 9.02'

'Level 5: Average Annotations = 5.05'

'Level 6: Average Annotations = 2.78'

'Level 7: Average Annotations = 2.14'

'Level 8: Average Annotations = 1.33'

'Level 9: Average Annotations = 1.33'

'Level 10: No data'

'Level 11: No data'

Subgraph: BP

'Level 0: Average Annotations = 810.00'

'Level 1: Average Annotations = 85.63'

'Level 2: Average Annotations = 25.81'

'Level 3: Average Annotations = 10.09'

'Level 4: Average Annotations = 5.05'

'Level 5: Average Annotations = 3.23'

'Level 6: Average Annotations = 2.30'

'Level 7: Average Annotations = 1.71'

'Level 8: Average Annotations = 1.71'

'Level 9: Average Annotations = 1.40'

'Level 10: Average Annotations = 1.00'

'Level 11: Average Annotations = 1.00'

## Q4. Identify the ProteinID with the longest ProtSeq within the Proteins table. Modify its ProtSeq to half its original length by trimming the sequence, update the ProteinID to "trimmed", and display the updated ProteinID and ProtSeq with its GO Term annotations. **(10 Pts)**

In [162]:
# find and trim the longest sequence, displaying the updated ProtID and ProtSeq, and its annotated GO Terms
conn = sqlite3.connect("protein_database.db")
df = pd.read_csv("Data/annots.csv")
df.to_sql("protein_table", conn, if_exists="replace", index=False)
query = """
SELECT ProteinID, ProtSeq, GO_ID, Sub_Graph, Level
FROM protein_table
WHERE LENGTH(ProtSeq) = (SELECT MAX(LENGTH(ProtSeq)) FROM protein_table);
"""
longest_proteins = pd.read_sql_query(query, conn)
longest_proteins['ProteinID'] = 'trimmed'



for index, row in longest_proteins.iterrows():
    prot_seq = row['ProtSeq']
    half_length = len(prot_seq) // 2
    trimmed_prot_seq = prot_seq[:half_length]
    longest_proteins.at[index, 'ProtSeq'] = trimmed_prot_seq

    
conn.commit()
conn.close()  
display(longest_proteins)

,ProteinID,ProtSeq,GO_ID,Sub_Graph,Level
0,trimmed,PINRSTMFFSFSNYPAILTPAMYDIKGWIGGWLQN,GO:0051716,BP,2
1,trimmed,INVRVNCAHYDMADDAENTVHTADFKCKFHKRHVE,GO:0005488,MF,1
2,trimmed,SAEHMWLADHQFSVVEIEHTADIGQYIHTMNSWRW,GO:0006520,BP,3
3,trimmed,SDISYEEYHGYEDHTDHFGYPTNTNHWMGQSCRMP,GO:1901265,MF,3
4,trimmed,FIRVQMNNNTRNNVDRNCHTHFELRVEYYWKTAMV,GO:0006952,BP,3
...,...,...,...,...,...
610,trimmed,TTHVINFVIRETAHQFILHVPKEYQWMTYLKISNC,GO:0097159,MF,2
611,trimmed,MPTRIWAADNDLTHQDHNNVNRKIAVVTCQGYQPA,GO:0008150,BP,0
612,trimmed,CRMGSNTAEPKGLWAWCNSSWWCCFIGTDDEVEFR,GO:0019752,BP,5
613,trimmed,EQKHCYGHTVAHAKQSNQCTCPTQGHYRDAQTEEC,GO:0042742,BP,4
614,trimmed,TKTWHEMRDKGLFRKFIIAKYIVIMYCEPNGQFHY,GO:0000322,CC,6

# Data Interpretation
The dataset represents associations between proteins and various gene ontology (GO) terms. Each protein can be associated with multiple GO terms, and each GO term corresponds to a specific function of the protein.

This dataset is used in genetic research to understand and identify the functions of proteins. ProteinID is used to identify proteins, and GO terms are used to determine the functions of proteins. This data is a valuable resource for genetic and bioinformatic research, aiding in a better understanding of protein functions.

# PLAGIARISM
All work on assignments must be done individually. You are encouraged to discuss
the given assignments with your classmates, but these discussions should be carried out
in an abstract way. That is, discussions related to a particular solution to a specific prob-
lem (either in actual code or in pseudocode) will not be tolerated. In short, turning
in someone else’s work (including work available on the internet), in whole or in part, as
your own will be considered as a violation of academic integrity. Please note that the
former conditions also hold for the material attained using AI tools, including ChatGPT,
GitHub Copilot, etc.